.content{
  margin-top: 20px;
  margin-bottom : 20px;
  margin-left : 20%;
  margin-right: 20%;
  min-height:800px;
}

.contentTitle{
  font-size: 40px;
  font-weight: bold;
}

.contentDate{
  margin-top:10px;
  margin-left : 10px;
  margin-bottom:10px;
  font-weight: bold;
}

.contentTxt{
  margin-top: 30px;
  margin-left : 10px;
  margin-right : 10px;
  margin-bottom: 30px;
}

.returnMain{
  width : 100px;
  height : 30px;
  border : 1px solid black;
  border-radius: 10px;
  background-color: black;
  color : white;
}

.returnMain:hover{
  width : 100px;
  height : 30px;
  border : 1px solid black;
  border-radius: 10px;
  background-color: black;
  color : white;
}